@model Project_PRN222.ViewModels.Management.UserIndexViewModel
@using Microsoft.AspNetCore.Identity
@inject UserManager<User> UserManager
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}

@if (TempData["TypeMessage"] != null && TempData["Message"] != null)
{
    <div id="autoDismissAlert" class="@TempData["TypeMessage"]" role="alert">
        @TempData["Message"]
    </div>
}

<h1 class="mb-4">Danh sách người dùng</h1>

<!-- Search & Add -->
<div class="d-flex justify-content-between align-items-center mb-2 mt-4">

    <form method="get" asp-action="Index" class="d-flex align-items-center">
        <div class="search-wrapper">
            <i data-feather="search" aria-hidden="true"></i>
            <input type="text" name="searchQuery" value="@Model.SearchQuery" placeholder="Nhập tên hoặc email">
            <button type="submit" class="btn btn-primary ms-2">Tìm kiếm</button>
        </div>
    </form>
    <div>
        <a class="btn btn-primary" asp-action="ExportUsersToExcel" asp-route-searchQuery="@Model.SearchQuery"> <i class="fas fa-file-excel"></i> Xuất ra file Excel</a>
        <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#importUsers"><i class="fas fa-plus"></i> Nhập dữ liệu file Excel</button>
        
    </div>

</div>

<div class="users-table table-wrapper ">
    <table class="posts-table">
        <thead>
            <tr class="users-table-info">
                <th>Ảnh đại diện</th>
                <th>Tên</th>
                <th>Email</th>
                <th>Vai trò</th>
                <th>Trạng thái</th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td>
                        <label class="users-table__checkbox">
                            @if (user.ImageUrl == null)
                            {
                                <img src="https://secure.gravatar.com/avatar/3f009d72559f51e7e454b16e5d0687a1?s=100&d=mm&r=g">
                            }
                            else
                            {
                                <img src="@user.ImageUrl">
                            }

                        </label>
                    </td>
                    <td>
                        @user.NameToDisplay
                    </td>
                    <td>
                        @user.Email
                    </td>
                    <td>
                        @user.Role
                    </td>
                    @if (@user.Status != null)
                    {
                        <td><span class="badge-trashed">Đã bị khóa</span></td>
                    }
                    else
                    {
                        <td><span class="badge-active">Đang hoạt động</span></td>
                    }

                    @if (user.Role != "Admin")
                    {
                        <td>
                            <span class="p-relative">
                                <button class="dropdown-btn transparent-btn" type="button" title="More info">
                                    <div class="sr-only">More info</div>
                                    <i data-feather="more-horizontal" aria-hidden="true"></i>
                                </button>
                                <ul class="users-item-dropdown dropdown">
                                    @if (user.Status == null)
                                    {
                                        <li><a href="/blockUser?userId=@user.Id" class="action-link" name="khóa">Khóa</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="/unblockUser?userId=@user.Id" class="action-link" name="mở khóa">Mở Khóa</a></li>
                                    }
                                    <li><a href="/resetPassword?userId=@user.Id" class="action-link" name="đặt lại mật khẩu cho">Đặt lại mật khẩu</a></li>
                                    <li>
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#addRoleForUser" data-user-id="@user.Id"
                                           data-user-name="@user.NameToDisplay" data-user-roles="@user.Role">Cài đặt vai trò</a>
                                    </li>
                                </ul>
                            </span>
                        </td>
                    }
                    else
                    {
                        <td></td>
                    }
                </tr>
            }

        </tbody>
    </table>

    <!-- Pagination -->
    <div class="d-flex justify-content-end mt-3">
        <a asp-action="Index" asp-route-searchQuery="@Model.SearchQuery" asp-route-page="@(Model.CurrentPage - 1)" class="btn btn-outline-secondary btn-sm @(Model.CurrentPage == 1 ? "disabled" : "")">Trước</a>
        <span class="badge bg-light text-dark border mx-3 px-3 py-2">Trang @Model.CurrentPage / @Model.TotalPages</span>
        <a asp-action="Index" asp-route-searchQuery="@Model.SearchQuery" asp-route-page="@(Model.CurrentPage + 1)" class="btn btn-outline-secondary btn-sm ms-2 @(Model.CurrentPage == Model.TotalPages ? "disabled" : "")">Sau</a>
    </div>
</div>



<!-- Add Role For User Modal -->
<div class="modal fade @(ViewData["ShowModal"] as string == "true" ? "show d-block" : "")" id="addRoleForUser" tabindex="-1" aria-labelledby="addCategoryModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Chọn vai trò cho <span id="modalUserName"></span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-action="EditRoles" asp-controller="Users" method="post" id="updateRolesForm">
                <input type="hidden" id="modalUserId" name="userId">
                <div class="modal-body">
                    @foreach (var role in Model.Roles)
                    {
                        <div class="mb-3">
                            <input type="checkbox" name="SelectedRoles" value="@role" class="role-checkbox" />
                            <label>@role</label>
                        </div>
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn btn-secondary">Lưu thay đổi</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Ipmort Users Modal -->
<div class="modal fade @(ViewData["ShowModal"] as string == "true" ? "show d-block" : "")" id="importUsers" tabindex="-1" aria-labelledby="addCategoryModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Chọn file</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-action="ImportUsersFromExcel" method="post" enctype="multipart/form-data" id="uploadForm">
                <div class="modal-body">
                    <input type="file" name="file" accept=".xlsx" required />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn btn-secondary">Lưu</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var addRoleForUserModal = document.getElementById('addRoleForUser');
        var updateRolesForm = document.getElementById('updateRolesForm');

        addRoleForUserModal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget; // Thẻ <a> đã kích hoạt modal
            var userId = button.getAttribute('data-user-id');
            var userName = button.getAttribute('data-user-name');

            // Gán giá trị vào modal
            document.getElementById('modalUserId').value = userId;
            document.getElementById('modalUserName').textContent = userName;
            var userRoles = button.getAttribute('data-user-roles').split(',').map(role => role.trim());

            // Cập nhật trạng thái checkbox
            document.querySelectorAll(".role-checkbox").forEach(function (checkbox) {
                checkbox.checked = userRoles.includes(checkbox.value);
            });
        });

        // Ngăn form submit nếu không có checkbox nào được chọn
        updateRolesForm.addEventListener("submit", function (event) {
            var isChecked = Array.from(document.querySelectorAll(".role-checkbox")).some(checkbox => checkbox.checked);
            if (!isChecked) {
                event.preventDefault(); // Ngăn form gửi đi
                notyf.error("Vui lòng chọn ít nhất một quyền trước khi lưu!"); // Hiển thị cảnh báo
            }
        });

        // Xác nhận hành động
                    document.querySelectorAll(".action-link").forEach(link => {
                    link.addEventListener("click", async function(event) {
                        event.preventDefault();
                        const itemName = this.getAttribute("name");
                        const result = await Swal.fire({
                            title: 'Xác nhận',
                            text: 'Bạn có chắc chắn muốn ' + itemName + ' người dùng này không?',
                            icon: 'question',
                            showCancelButton: true,
                            confirmButtonText: 'Có',
                            cancelButtonText: 'Không',
                            reverseButtons: true
                        });

                        if (result.isConfirmed) {
                            window.location.href = this.href;
                        } else {
                            notyf.error("Đã hủy !");
                        }
                    });
                });
     });
</script>